/* src/App.css or src/index.css */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the footer is pushed to the bottom if content is short */
}

.main-content {
  flex: 1; /* Allows the main content to take up all available space */
}
